body{
    font-family:'Roboto';
}

header{
    height: 89px;       
    background-color: #404EED;
}

header img{
    margin-left: 80px;
    margin-top: 12px;
}

main{
    display: flex;
    height: 680px;
    margin-left: 150px;
    
}

main .box {
    display: flex;
    height: 800px;;

}

main ul{
    width: 500px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main li{
    margin: 10px;
    border: 0.5px solid #c4c4c494;
    border-radius: 100px;
    background-color: #f2f2f2e7;
    margin: 10px 10px 10px 50px;
}
main ul div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

main ul div h3{
    margin-left: 35px;
}
.selectedModelo{
    border: 2px solid #404EED;
}

.selectedGola{
    border: 2px solid #404EED;
}

.selectedTecido{
    border: 2px solid #404EED;
}
main ul img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

.box{
    display: flex;
    flex-direction: column;
}
.box span{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 18px;
;
}
.ilustration{
    display: flex;
    background-color: #404EED;
    width: 1120px;
    height: 850px;
    margin-left: 150px;
}
.ilustration img{
    margin-left: 220px;
}

input{
    width: 400px;
    height: 40px;   
    margin-left: 28px;
    background: #F2F2F2;
    border-radius: 10px;
    border-style: none;
    color: #818181;
    margin-bottom: 30px;
    margin-top: 5px;
}

input::placeholder{
    padding-left: 20px;
}

button{
    width: 400px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 20px;
    margin-left: 25px;
}

footer{
    display: flex;
    margin-left: 140px;
}
.span{
    font-size: 24px;
    color: #232323;
    margin-top: 170px;
    margin-bottom: 20px;
    margin-left: 140px;

}

.box-2{
  display: flex;

}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin: 22px;
}
.container img{
    width: 130px;
    height: 150px;
    margin-bottom: 20px;
}

.container span{
    margin-bottom: 50px;
    width: 100px;

}

/* 600px x 882px */

@media (max-width: 600px){
    body{
        background-color: #40a8ed;
    }

    header {
        text-align: center;
    }
    main{
        margin-left: 0;
        justify-content: center;

    }

    .box{

    }
    .ilustration{
        display: none;
    }

    .span{
        margin-left: 80px;
    
    }

    footer{
        display: flex;
        margin-left: 80px;
        width: 400px;
        overflow: hidden;
    }
    
    .box-2{
        overflow-x: auto;
    }

    .container{
        margin-bottom: 20px;
    }

    .container img{
        margin-bottom: 0;
    }
    
    .container span{
        width: 100px;
        margin-bottom: 0px;
        
    }
}


